<button (click)="isAuthenticated = !isAuthenticated" class="btn btn-secondary mb-5">
  Toggle is Authenticated
</button>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae turpis id eros mollis ultrices. Suspendisse sed
  odio blandit, aliquet metus ac, semper nunc. Duis sed turpis mi. Sed fermentum, ipsum in varius tristique, metus
  ligula aliquet nulla, vel pharetra metus nisi a nulla. Quisque blandit ex nec sapien fermentum ullamcorper. Phasellus
  facilisis sollicitudin efficitur. Sed ac rhoncus nunc. Vestibulum a diam ligula. Aliquam elementum vitae orci eu
  laoreet. Maecenas sed quam sem. Vivamus finibus lorem augue, at congue tellus suscipit congue. Sed luctus lectus quis
  tempus cursus.

  Aliquam erat volutpat. Proin justo enim, facilisis nec mi sed, ultricies blandit tortor. Duis venenatis nunc erat, sed
  condimentum tellus molestie vel. Phasellus luctus rutrum sem et tempus. Donec in nibh ac ligula iaculis accumsan id
  vitae sem. Morbi sit amet tortor iaculis, molestie nunc quis, dictum justo. Etiam placerat quam eros, eu ultricies
  nibh pharetra in. Nunc congue metus nulla, sit amet bibendum magna aliquet sit amet.

  Phasellus arcu lacus, scelerisque nec finibus eu, commodo vitae mauris. Donec maximus posuere ligula, in iaculis orci
  dapibus non. Morbi sit amet orci leo. Fusce rhoncus libero sit amet est dapibus pulvinar. Morbi porttitor nisi et
  libero euismod, vel maximus leo tincidunt. In lobortis felis quis dui varius efficitur. Vestibulum ante ipsum primis
  in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas efficitur risus a dui imperdiet mattis.</p>
