<div class="jumbotron">
  <h1 class="display-4">Lorem Ipsum</h1>
  <p class="lead">Morbi ultricies tortor in tortor facilisis volutpat. Curabitur quam elit, volutpat ut tincidunt ut, consequat at urna. Aliquam eu arcu sit amet tellus iaculis pellentesque id et ante</p>
  <hr class="my-4">
  <p>In eget ultrices augue, sed maximus augue. Donec ac lacinia lectus, at tincidunt augue. Vestibulum eget erat lobortis ante viverra laoreet. Morbi vitae felis nisl. Cras dignissim imperdiet nibh. Nulla rutrum euismod magna et varius. Duis nec vulputate odio</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/', 'about']" role="button">About</a>
  </p>
</div>
