<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Lorem Ipsum Card</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Nam dignissim pretium ex eget finibus. Proin ultrices, arcu a bibendum auctor, augue dolor eleifend massa, ut tincidunt arcu arcu gravida lacus. Fusce ac enim tortor</p>
    <a [routerLink]="['/', 'about']" class="card-link">About link</a>
    <a [routerLink]="['/', 'contact']" class="card-link">Contact link</a>
  </div>
</div>
